<div class="container">
    <div class="alert alert-danger" role="alert">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h1>DOCUMENTO</h1>
            </div>
            <div class="col-md-4 col-sm-4">
                <h1>24</h1>
            </div>
            <div class="col-md-3 col-sm-6" >
                <a type="button" href="{{url}}" class="btn btn-danger" >VER</a>
            </div>
            <div class="col-md-1 col-sm-1">
                <i class="bi bi-exclamation-circle-fill bi-lg"></i>
            </div>
        </div>
    </div>    
</div>