<div class="contaner-lg">
    <div class="row justify-content-md-center">
        <p class="font-monospace">Filtros del Reporte</p>
    </div>
 
    <div class="row justify-content-md-center">
        <div class="col-lg-8 col-md-12 col-sm-12">
            <input class="form-control form-control-lg" type="text" placeholder="Aqui va el nombre del Archivo" aria-label=".form-control-lg example" disabled readonly>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <p class="error"> Errores:</p>
              </div>
              <div class="col">
                <p class="error_num"> 44</p>
              </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container mt-5 ">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="d-grid gap-2">
            <button class="btn btn-success" type="button"><i class="bi bi-funnel-fill"></i>NUEVO FILTRO</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row caja">
        <!--Componentes de las ventanas-->
        <div class="col-lg-12 ">
            <app-compo-filtro-regula></app-compo-filtro-regula>
            <app-compo-filtro-regula></app-compo-filtro-regula>
            <app-compo-filtro-regula></app-compo-filtro-regula>
            <app-compo-filtro-regula></app-compo-filtro-regula>
        </div>
       
    </div>
</div>
