<div class="container">
    <div class="alert alert-success" role="alert">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h1>FILTRO</h1>
            </div>
            <div class="col-md-4 col-sm-4">
                <h1>10</h1>
            </div>
            <div class="col-md-3 col-sm-6" >
                <a type="button" href="{{url}}" class="btn btn-danger" >VER</a>
            </div>
            <div class="col-md-1 col-sm-1">
                <button type="button" class="btn-close" aria-label="Close" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></button>
            </div>
        </div>
    </div>    
</div>

<!--Ventana Modal-->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">ELIMINAR FILTRO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h2>¿Desea eliminar este Filtro?</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Si</button>
        </div>
      </div>
    </div>
  </div>